html,
body {
  max-width: 100%;
}

body {
  font-family: "Bebas neue", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.top_container img {
  width: 100%;
}

/* color styling */

body {
  background: linear-gradient(#d4d4cd, #4b4b4b);
}
/* HEADER */

header {
  background-image: url(../images/frontpagebackground.jpg);
  background-position-y: -1020px;
}

.logo_container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.logo {
  width: 450px;
  margin: 0 auto;
}

/* MAIN */
.main_home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav li {
  display: inline-block;
  padding: 4px 35px 4px 35px;
  background-color: #0a3641;
  border: 2px solid;
  color: #196173;
  margin: 10px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #d4d4cd;
}

.icon {
  width: 20px;
  height: auto;
}

.top_container {
  display: flex;
  width: 100%;
}

.top_container div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid #196173;
}

#yellowjacket {
  border-left: 2px solid #196173;
  border-right: 1px solid #196173;
  border-top: 2px solid #196173;
  border-bottom: 2px solid #196173;
  box-sizing: border-box;
}

#brownjacket {
  border-left: 1px solid #196173;
  border-right: 2px solid #196173;
  border-top: 2px solid #196173;
  border-bottom: 1px solid #196173;
  box-sizing: border-box;
}

/* QUOTES */

.quotes {
  flex-direction: column;
  text-align: left;
  border-right: 1px solid #196173;
  border-bottom: 2px solid #196173;
  border-left: 2px solid #196173;
  background: linear-gradient(to right, #d4d4cd, #808080);
}

.quotes h1 {
  color: #0a3641;
  margin-left: 20px;
  line-height: 30px;
  font-size: 4vw;
}

.news_container {
  text-align: center;
  padding: 60px 20px;
  font-size: 4vw;
  border-left: 1px solid #196173;
  border-right: 2px solid #196173;
  border-top: 1px solid #196173;
  border-bottom: 2px solid #196173;
  background: linear-gradient(to left, #d4d4cd, #808080);
}

.news_container a {
  color: #0a3641;
}

.blue_shop_icon {
  width: 3.2vw;
  margin-left: 10px;
}

/* Quotes Footer */

.quotes_footer {
  font-size: 3vw;
  line-height: 25px;
  margin-left: 20px;
  text-align: left;
  color: #0a3641;
}

/* INSTAGRAM */

.instagram_container {
  display: flex;
  flex-wrap: wrap;
  max-height: 10px;
  margin-top: 30px;
}

.instagram_item {
  width: 10vw;
  height: auto;
  border: #196173 solid 2px;
  flex: 1;
  margin: 10px 10px 0px 10px;
}

figure {
  margin: 0px;
  padding: 0px;
}

.instagram_container > * {
}

.instagram_text {
  color: #d4d4cd;
  font-size: 3vw;
  padding-left: 10px;
}

.instagram_icon {
  width: 2vw;
  height: auto;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
}

.footer_logo {
  width: 90vw;
  align-items: center;
  justify-content: center;
}

/* SHOP PAGE ****************************************************************************************************************************************/

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px 50px 0px;
  flex-wrap: wrap;
  padding-top: 50px;
}

.product {
  border: 2px solid #196173;
  margin-right: 50px;
  margin-left: 50px;
}

.product_price {
  margin-left: 50px;
  background-color: #196173;
  padding-top: 10px;
  margin-top: -40px;
  margin-right: 50px;
  color: #d4d4cd;
}

.product_price h3 {
  margin-left: 4px;
  font-weight: 400;
  font-size: 1.5em;
}

.price {
  float: right;
  margin-right: 4px;
}

.main_shop {
  background-image: url(../images/frontpagebackground2.jpg);
  background-repeat: no-repeat;
  background-position-y: -1355px;
}

/* Product Specific page ********************************************************************************/

.cta {
  background-color: #196173;
  color: #d4d4cd;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  font-family: tahoma;
  text-transform: uppercase;
  margin-top: 360px;
  margin-left: -30px;
}

/* Checkout Page ****************************************************************************************/

#checkout_h1 {
  padding-top: 10px;
  font-size: 3em;
}

#checkout_h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.7em;
}

.main_checkout h1 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.main_checkout {
  color: #d4d4cd;
  height: 500px;
}

.checkout_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkout_container > * {
  margin-right: 40px;
}

.checkout_info {
  border: 2px solid #196173;
  width: 250px;
  height: 200px;
  margin-top: 71.2px;
}

.checkout_info p {
  margin-left: 10px;
  text-align: left;
}

.form1 {
  border: 2px solid #196173;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form_container {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.cta_checkout {
  background-color: #196173;
  color: #d4d4cd;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  font-family: tahoma;
  text-transform: uppercase;
  text-align: center;
  justify-self: start;
}

.product_container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.checkout_product {
  display: flex;
  height: 200px;
  border: 2px solid #196173;
  margin-top: 71.2px;
}

/* CHECKOUT SUCCESS PAGE *******************************************************************************************************************************************************/

.main_checkout_success {
  margin-bottom: 20px;
  height: 620px;
  color: #196173;
}

.checkout_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.success_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product_success {
  display: flex;
  height: 200px;
  border: 2px solid #196173;
  margin-right: 50px;
}

.info_success {
  border: 2px solid #196173;
  width: 250px;
  height: 200px;
}

/* CONTACT-US PAGE *******************************************************************************************************************************************************/

#contact_h1 {
  display: flex;
  justify-content: center;
}

.contact_info_container {
  display: flex;
  flex-direction: row;
  border: 2px solid #196173;
  color: #196173;
}

.contact_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon_contact {
  display: flex;
  flex-direction: column;
}

.icon_contact img {
  width: 22px;
  margin-top: 26px;
}

.form_contact {
  display: flex;
  flex-direction: column;
  flex: 0;
}
