@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}

h1,
h2,
p,
nav,
h3,
ul {
  font-family: "Bebas Neue", Verdana, Geneva, Tahoma, sans-serif;
}

/* CSS GRIDS */
.grid_container {
  background: #196173;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 40vh 23vh 40vh 187.39px;
  margin: 0 auto;
  justify-content: center;
  grid-template-areas:
    "header header"
    "main main"
    "aside1 aside2"
    "aside3 aside4"
    "footer footer";
}

body {
  margin: 0;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
main {
  grid-area: main;
}
.aside1 {
  grid-area: aside1;
}
.aside2 {
  grid-area: aside2;
}
footer {
  grid-area: footer;
}
.aside3 {
  grid-area: aside3;
}
.aside4 {
  grid-area: aside4;
}

/* coloring */

header,
main,
aside,
footer {
  background: #d4d4cd;
}

footer {
  background: linear-gradient(#5d5d5d, #575656);
}

.aside1 {
  background: linear-gradient(to right, #d4d4cd, #808080);
}

.aside2 {
  background: linear-gradient(to left, #d4d4cd, #808080);
}
/* Header */

header {
  background-image: url(../images/frontpagebackground.jpg);
  min-height: 30vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: bottom;
  background-position-y: right;
  position: relative;
  text-align: center;
  background-position-y: -420px;
  border-bottom: 2px solid #196173;
}

.logo {
  margin-top: 30px;
  width: 430px;
  height: auto;
  margin: 0 auto;
}

/* Main */

.main {
  grid-area: main;
}

.main_container {
  grid-area: main;
}

.main_left {
  float: left;
}

.main_right {
  display: flex;
  float: right;
  margin-bottom: 300px;
}

main img {
  width: 960px;
  height: auto;
  max-width: 100%;
}

/* aside */

.aside1 {
  display: grid;
  border-left: 2px solid #196173;
  border-right: 1px solid #196173;
  border-top: 2px solid #196173;
  border-bottom: 2px solid #196173;
}

.aside2 {
  display: grid;
  border-left: 1px solid #196173;
  border-right: 2px solid #196173;
  border-top: 2px solid #196173;
  border-bottom: 2px solid #196173;
}

.aside3 {
  display: grid;
}

.aside3_text {
  font-size: 5em;
  text-align: left;
  color: #0a3641;
  font-style: normal;
  margin: 5px;
  margin-top: 5px;
  list-style-type: none;
  margin-left: -35px;
  line-height: 100px;
  font-weight: bold;
}

.key {
  color: #d4d4cd;
}

.comfortable {
  color: #00998c;
}

.uncomfortable {
  color: #d68a33;
}

.aside3 {
  background: linear-gradient(#9d9d98, #5d5d5d);
}

.aside4 {
  background: linear-gradient(#9d9d98, #5d5d5d);
}

.instagram_container {
  display: flex;
  font-size: 0;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}

.instagram_item {
  border: 2px solid #196173;
  margin: 20px;
}

.instagram1 {
}

.instagram1 img {
  display: block;
  margin: 0 auto;
}

.aside4_text {
  position: absolute;
}

.aside4 p {
  font-size: 3em;
  color: #0a3641;
  font-style: normal;
}

.aside4 img {
  width: auto;
  height: 150px;
}

.aside1_text {
  font-size: 5em;
  text-align: left;
  color: #0a3641;
  font-style: normal;
  margin: 5px;
  margin-top: 5px;
}

.aside2_text {
  font-size: 5em;
  text-align: left;
  margin-left: 40px;
  color: #0a3641;
}

.adventure {
  color: #d4d4cd;
}

/* navigation */

nav li {
  display: inline-block;
  padding: 4px 35px 4px 35px;
  background-color: #0a3641;
  border: 2px solid;
  color: #196173;
  margin: 10px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #d4d4cd;
}

/* Footer */

footer {
  margin: 0;
}

.footer_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
